/* Estilos Generales */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f4f8;
    color: #333;
    text-align: center;
}

/* Estilos de Contenedores */
#container, #nombresContainer {
    display: flex;
    flex-wrap: wrap;
    overflow-x: auto;
    gap: 10px;
}

/* Estilos de Elementos Interactivos */
.line-button, .nombre-element {
    background-color: #20eaa7; /* Color de fondo */
    color: white; /* Color de texto */
    border-radius: 6px; /* Bordes suavizados */
    margin: 3px; /* Espaciado externo fijo */
    padding: 10px; /* Espaciado interno fijo */
    cursor: pointer;
}

.selected {
    background-color: #971c1c !important;
    color: #fff;
    border-radius: 6px; /* Bordes suavizados */
    padding: 10px; /* Espaciado interno */
    margin: 3px; /* Espaciado externo */
}

.disabled {
    background-color: #ccc !important;
    color: #ffffff;
    border-radius: 6px; /* Bordes suavizados */
    padding: 10px; /* Espaciado interno */
    margin: 3px; /* Espaciado externo */
}

/* Botones */
#boton, #agregarNombreBtn, #procesarBtn, #guardarBtn {
background-color: #015681;
color: white;
padding: 1em;
border: none;
border-radius: 20px;
cursor: pointer;
margin-top: 20px; /* Espacio entre el textarea y el botón */
}

/* Campos de Entrada */
#nombreInput {
background-color: #ffffff; /* Color de fondo blanco */
border-radius: 10px; /* Bordes suavizados */
border-color: rgb(193, 193, 193);
padding: 8px; /* Espaciado interno para hacer el input más grande */
font-size: 16px;
}

/* Tablas */
table {
width: 50%;
border-collapse: collapse;
}

td, th {
background-color: #ffffff;
color: #333; /* Color de texto para td */
border-radius: 2px; /* Bordes suavizados */
padding: 8px;
}

th {
background-color: #399df5; /* Color de fondo para th */
color: #ffffff; /* Color de texto para th */
}

/* Responsive Design */
@media (max-width: 600px) {
#container, #nombresContainer {
flex-direction: row; /* Cambia a fila para permitir múltiples elementos por fila */
justify-content: center; /*Centra los elementos horizontalmente */
flex-wrap: wrap; /* Permite que los elementos se envuelvan en múltiples líneas */
}

.line-button, .nombre-element {
    padding: 0.2em;
    margin: 0.2em;
    font-size: 0.8em; /* Reduce el tamaño de la fuente para pantallas pequeñas */
}

table {
    width: 100%; /* Ajusta la tabla al ancho de la pantalla */
    overflow-x: auto; /* Permite desplazamiento horizontal si es necesario */
}

}